.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/52688121607_bcce2a690e_o.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  padding: 20px;
}

.nasa-logo {
  margin: auto;
  width: 400px;
  height: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);
}

.slide-container {
  margin: 20px;
}

.slide-on-mode {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  background-color: rgba(208, 205, 241, 0.7);
}

.slide-on-mode:hover {
  background-color: greenyellow;
}
